body {
    background-color: #032a36;
    font-family: Arial, sans-serif;
    color: #a7d8e7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left {
    flex: 1;
}

h2 {
    color: #448c95;
}

.green-link {
    color: #bdf7ff;
    text-decoration: none;
    font-weight: bold;
}

.green-link:hover {
    text-decoration: underline;
}

.right img {
    max-width: 400%;
    height: auto;
}
